body {
    display: inline-block;
}
@keyframes changecolorcircle {
    from {fill: green; stroke: blue;}
    to {fill: white; stroke: black;}
  }

  @keyframes changecolorrect {
    from {fill: red; stroke: yellow;}
    to {fill: white; stroke: black;}
  }

  @keyframes changecolorsquare {
    from {fill: blue; stroke: green;}
    to {fill: white; stroke: black;}
  }

  @keyframes changecolorellipse {
    from {fill: yellow; stroke: red;}
    to {fill: white; stroke: black;}
  }

  @keyframes pulse {
    0% {
      fill: #001F3F;
    }
    100% {
      fill: #FF4136;
    }
  }
  .circle {
    fill: green;
    stroke: blue;
    stroke-width: 5px;
    animation: changecolorcircle; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .square {
    fill: blue;
    stroke: green;
    stroke-width: 5px;
    animation: changecolorsquare; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .ellipse {
    fill:yellow;
    stroke: red;
    stroke-width: 5px;
    animation: changecolorellipse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
.rect {
    fill:red;
    stroke: yellow;
    stroke-width: 5px;
    animation: changecolorrect; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.anchor {
    animation: pulse 5s infinite;
  }